body {
    background-color: rgb(245, 234, 245);
}
h1 {
    color: rgb(26, 22, 34);
    padding: 60px;
}
.center-img {
    display: block;
    margin: 0 auto;
  }
  div.container {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center }
  div.container span {
    margin: 0 }